<form [formGroup]="form" (ngSubmit)="onSubmit()" class="sprint-plan-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Sprint Plan Name</mat-label>
      <input matInput formControlName="sprintPlanName" placeholder="Enter Sprint Plan Name">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="Choose an end date">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  
    <div class="button-container">
      <button class="cancel-button" type="button" (click)="goBack()">Back</button>
      <button class="action-button" type="submit">Submit</button>
    </div>
  </form>
  