<main>
    @for (item of items; track item; let index = $index) {
      <cdk-accordion class="accordion-container">
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            class="accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="accordion-item-header" (click)="accordionItem.toggle()">
                <table mat-table [dataSource]="[item]" class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="sprinttestplan_id"> 
                        <th mat-header-cell *matHeaderCellDef> STP ID </th> 
                        <td mat-cell *matCellDef="let item"> {{item.sprinttestplan_id}} </td> 
                    </ng-container> 
                    <ng-container matColumnDef="sprint_title"> 
                        <th mat-header-cell *matHeaderCellDef> Sprint # - Team </th> 
                        <td mat-cell *matCellDef="let item"> {{item.sprint_title}} </td> 
                    </ng-container> 
                    <ng-container matColumnDef="start_date"> 
                        <th mat-header-cell *matHeaderCellDef> Start Date </th> 
                        <td mat-cell *matCellDef="let item"> {{item.start_date}} </td> 
                    </ng-container> 
                    <ng-container matColumnDef="end_date"> 
                        <th mat-header-cell *matHeaderCellDef> End Date </th> 
                        <td mat-cell *matCellDef="let item"> {{item.end_date}} </td> 
                    </ng-container> 
                    <ng-container matColumnDef="completed_date"> 
                        <th mat-header-cell *matHeaderCellDef> Completed Date </th> 
                        <td mat-cell *matCellDef="let item"> {{item.completed_date}} </td> 
                    </ng-container> 
                    <ng-container matColumnDef="icon"> 
                        <th mat-header-cell *matHeaderCellDef> Click to Expand </th> 
                        <td mat-cell *matCellDef="let item">
                            <mat-icon *ngIf="!accordionItem.expanded">arrow_drop_down</mat-icon>
                            <mat-icon *ngIf="accordionItem.expanded">arrow_drop_up</mat-icon>
                        </td> 
                    </ng-container> 
                    <tr mat-header-row *matHeaderRowDef="['sprinttestplan_id', 'sprint_title', 'start_date', 'end_date', 'completed_date', 'icon']"></tr> 
                    <tr mat-row *matRowDef="let row; columns: ['sprinttestplan_id', 'sprint_title', 'start_date', 'end_date', 'completed_date', 'icon']"></tr> 
                </table>
            </div>

            <!-- accordion body -->
            <div
              class="accordion-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body'"
              [attr.aria-labelledby]="'accordion-header'">
              
              @for (plan of item.storytestplans; track plan;) {

                <table mat-table [dataSource]="[plan]" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="storytestplan_id">
                    <th mat-header-cell *matHeaderCellDef> STP ID </th>
                    <td mat-cell *matCellDef="let plan"> {{ plan.storytestplan_id }} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="jira_id">
                    <th mat-header-cell *matHeaderCellDef> Jira ID </th>
                    <td mat-cell *matCellDef="let plan"> {{ plan.jira_id }} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="story_summary">
                        <th mat-header-cell *matHeaderCellDef> Story Summary </th>
                        <td mat-cell *matCellDef="let plan"> {{plan.story_summary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="test_count">
                        <th mat-header-cell *matHeaderCellDef> Test Count </th>
                        <td mat-cell *matCellDef="let plan"> {{plan.test_count}} </td>
                    </ng-container>

                    <ng-container matColumnDef="execution_count">
                        <th mat-header-cell *matHeaderCellDef> Executed Tests </th>
                        <td mat-cell *matCellDef="let plan"> {{plan.execution_count}} </td>
                    </ng-container>

                    <ng-container matColumnDef="passed_test_count">
                        <th mat-header-cell *matHeaderCellDef> Passed Tests </th>
                        <td mat-cell *matCellDef="let plan"> {{plan.passed_test_count}} </td>
                    </ng-container>

                    <ng-container matColumnDef="testing_status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let plan"> {{plan.testing_status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="completed_date">
                        <th mat-header-cell *matHeaderCellDef> Completed Date </th>
                        <td mat-cell *matCellDef="let plan"> {{plan.completed_date}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="testPlanDisplayColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: testPlanDisplayColumn;"></tr>
                </table>  
            }
            </div>
          </cdk-accordion-item>
      </cdk-accordion>
    }
  </main>
  
