<form [formGroup]="storyForm" class="story-form">

  <label>Jira Id: </label>
  <input id="jira_id" formControlName="jira_id" placeholder="Enter Jira Id" required>
  <br>

  <label>Story Acceptance Criteria: </label>
  <textarea class="jiraInput" type="textarea" id="jira_ac" formControlName="jira_ac" placeholder="Enter Acceptance Criteria" required>
  </textarea>
  <br>

  <label>Additional Instructions: </label>
  <input id="additional_instructions" formControlName="additional_instructions" placeholder="Enter Additional Instructions">
  <hr>
  
  <div class="button-container">
    <button class="cancel-button" (click)="goBack()">Back</button>
    <button class="create-button" type="button" (click)="generate()">
      {{ (generatedTests.length > 0) ? 'Regenerate' : (loading) ? "Loading..." : 'Generate Tests' }}
    </button>
  </div>

  @for (test of generatedTests; track test; let idx = $index) {
    <app-gen-test-card [test]="test" (included)="toggleTest($event, idx)"></app-gen-test-card>
  }

  @if (loading) {
    <span>Loading...</span>
  }
  
  <div *ngIf="generatedTests.length > 0" class="button-container">
    <button class="action-button" type="button" (click)="submitStory()">Commit Story</button>
  </div>
</form>
