<form [formGroup]="storyForm">
  <div>
    <label for="jira_id">Jira Id: </label>
    <input id="jira_id" type="text" formControlName="jira_id" required>
  </div>

  <div>
    <label for="jira_ac">Story Acceptance Criteria:</label>
    <input id="jira_ac" type="text" formControlName="jira_ac" required>
  </div>

  <div>
    <label for="additional_instructions">Additional Instructions:</label>
    <input id="additional_instructions" type="text" formControlName="additional_instructions">
  </div>
  
  <button class="action-button" type="button" (click)="generate()">
    {{ (generatedTests.length > 0) ? 'Regenerate' : 'Generate' }} Tests
  </button>
  <br>
  @for (test of generatedTests; track test.test_id; let idx = $index) {
    <app-gen-test-card [test]="test" (included)="addTest($event, idx)"></app-gen-test-card>
  }
  
  @if (generatedTests.length > 0) {
    <button class="action-button" (click)="submitStory()" type="button">Commit Story</button>
  }
</form>
