:root {
  // Colors
  --color-primary: #fffff;
  --color-secondary: #22222;
  --color-accent: #ccc;
  --color-font: #00000;

  // Font
  --ff:     "Monda", sans-serif;
  --h1:     normal 1rem/1 var(--ff);
  --h2:     normal 1rem/1 var(--ff);
  --h3:     normal 1rem/1 var(--ff);
  --span:   normal 1rem/1 var(--ff);
  --p:      normal 1rem/1 var(--ff);
  --a:      normal 1rem/1 var(--ff);
  --small:  normal 1rem/1 var(--ff);

  // Element Styling
  --h1: bold 3rem/1 var(--ff);

  // Box Model 
  --margin-thin: 5px 5px;
  --margin: 1rem 1rem;
  --padding: .5rem .5rem;
  --radius: .3rem;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 15px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0 0;
  padding: 0 0;
}

a {
  font: var(--a);
  color: var(--color-font);
  text-decoration: none;
  padding: var(--padding);
  margin: var(--margin-thin);
  border-radius: var(--radius);
  
  &:hover {
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: var(--shadow);
  }
}

.action-button {
  background-color: #A8E6CF;
  
  &:hover {
    background-color: #A0D8B3;
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: #A8E6CF;
    transition: background-color .05s;
  }
}

button {
  border: 1px solid var(--color-secondary);
  padding: var(--padding);
  border-radius: var(--radius);
  width: fit-content;

    &:hover {
      cursor: pointer;
    }
}

.cancel-button {
  background-color: #E1A7A1;

  &:hover {
    background-color: #D27D72;
  }
}

.create-button {
  background-color: #A2CFFE;

  &:hover {
    background-color: #87CEF0;
  }
}

main {
  width: 80vw;
  margin: auto auto; 
}
